//
// Light Sidebar(used by Light Sidebar layout only)
//

.app-sidebar-menu {
    .hover-scroll-overlay-y {        
        margin-right: 4px;
    }

    .menu {
        font-weight: $font-weight-bold;        

        > .menu-item { 
            > .menu-link {
                padding-top: 0.9rem;
                padding-bottom: 0.9rem;

                .menu-icon {
                                                          
                }

                .menu-title {
                    order: 1;
                    font-size: 15px;
                }                 
            }

            .menu-sub {
                .menu-link {
                    .menu-title {
                        font-size: 13px;
                    }

                    .menu-arrow {
                        order: 3; 
                        margin-right: 4.5px;                    
                    }
                }
            }

            @include menu-link-default-state( 
                $title-color: var(--#{$prefix}gray-600), 
                $icon-color: var(--#{$prefix}gray-500), 
                $bullet-color: $app-sidebar-base-menu-link-title, 
                $arrow-color: $app-sidebar-base-menu-link-title,
                $bg-color: null  
            );
            
            @include menu-link-hover-state( 
                $title-color:  var(--#{$prefix}gray-800), 
                $icon-color:  var(--#{$prefix}gray-700), 
                $bullet-color:  var(--#{$prefix}gray-700), 
                $arrow-color:  var(--#{$prefix}gray-700), 
                $bg-color: null
            );
            
            @include menu-link-show-state( 
                $title-color:  var(--#{$prefix}gray-800), 
                $icon-color:  var(--#{$prefix}gray-700), 
                $bullet-color:  var(--#{$prefix}gray-700), 
                $arrow-color:  var(--#{$prefix}gray-700), 
                $bg-color: null
            );
            
            @include menu-link-here-state( 
                $title-color: var(--#{$prefix}gray-800), 
                $icon-color: var(--#{$prefix}gray-800), 
                $bullet-color: $app-sidebar-base-menu-link-title, 
                $arrow-color: $app-sidebar-base-menu-link-title, 
                $bg-color: null
            );

            @include menu-link-active-state( 
                $title-color: var(--#{$prefix}gray-800), 
                $icon-color: var(--#{$prefix}gray-800), 
                $bullet-color: var(--#{$prefix}app-sidebar-base-menu-link-active), 
                $arrow-color: var(--#{$prefix}app-sidebar-base-menu-link-active), 
                $bg-color: null
            );
        }
    }

    &.app-sidebar-menu-arrow {
        .menu {
            > .menu-item {
                > .menu-link {
                    > .menu-icon {
                        width: 25px;
                        height: 25px;
                        
                        i {
                            @include menu-link-arrow-rotate(0, -180deg);
                        }
                    }    
                }

                &.menu-accordion {
                    &.show,
                    &.showing {
                        > .menu-link {
                            > .menu-icon {
                                i {
                                    @include menu-link-arrow-rotate(90deg, -90deg);
                                }						
                            }
                        }
                    }

                    &.hiding {
                        > .menu-link {
                            > .menu-icon {
                                i {
                                    @include menu-link-arrow-rotate(0, -180deg);
                                }						
                            }
                        }
                    }	
                }
            }	
        }
    }
} 
